header
    h1 CSA SEARCH ENGINE

    form(action='/search', method='post')
        label Search by Name or by ID:  
            input(type='text', placeholder='ID or Name' name='username')
        button(type='submit') Search